
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
img{
    width: 100%;
    height: 100%;
}
h1 h2 h3 h4 h5 h6 {
    margin: 0px;
    padding: 0px;
}

:root{
    --black: rgb(13, 19, 33);
    --white:rgb(255, 255, 255);
    --fadebg:rgba(13, 19, 33, 0.02);
    --html:rgba(255, 76, 30, 0.05);
    --css:rgba(0, 76, 232, 0.05);
    --js:rgba(255, 223, 0, 0.05);
}
/* font style guide */
h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
}
.head2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.head2w{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.h5w{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
    letter-spacing: 0%;
    text-align: center;
}
.pw{
    color: var(--white);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* buttons */
.btnone{

    width: 220px;
    height: 55px;
    top: 38px;
    padding: 15px 22px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}
.btntwo{

    width: 250px;
    height: 66px;
    padding: 21px 24px;
    margin: 30px 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    background-color: var(--black);
    text-align: center;
    border-radius: 8px;
    line-height: 23px;
    letter-spacing: 0%;
    margin-bottom: 50px;
}
.btnthree{
       
        width: 165px;
        height: 45px;
        padding: 10px 18px;
        background-color: var(--white);
        border: 1px solid black;
        font-size: 18px;
}
.btnfour{
        width: 115px;
        height: 55px;
        padding: 15px 18px ;
        margin: 0px 14px;
        border-radius: 8px;
        color: black;
        background-color: white;
        font-size: 16px;
        font-weight: 600;
}
/* navbar style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* banner style */
.banner{
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 640px;
    margin: 80px 0;

}

.banwrap{
    width: 998px;
    height: 582px;
    /* margin-top: 50px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
}
.banimg{
    width: 240px;
    height: 240px;
}

/* blogsc styles */
.blog{
    padding: 80px 97px 80px 97px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    padding: 80px 97px 80px 97px;
}
.blograp{
    margin: 50px 0;
    width: 946px;
    height:auto;
    padding: 25px 50px;
    background-color: rgba(13, 19, 33, 0.02);

}
.blogs{
   
    width: 100%;
    height: 336px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 30px 0;

 }
 /* video section styles */
 /* .media{
    display: flex;
    align-content: center;
 } */
 .mediawrap{
    margin: 0 auto;
 }
.videowrap{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/* LANGUAGE styles */
.lang  img{
    width: 56px;
    height: 56px;
}
.lang{
    display: flex;
    flex-direction: column;
}
.langwrap{
         margin: 0 auto;
         display: flex;
         flex-direction: row;
         margin-top: 50px;
}
.cards{
    
        width: 364px;
        height: 299px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;
        margin: 0px 24px;
}
.one{
    background-color: var(--html);
    border-radius: 8px;
    padding-bottom: 15px;
}
.two{
    background-color: var(--css);
    border-radius: 8px;
}
.three{
    background-color: var(--js);
    border-radius: 8px;
}
.langtxt{
    margin-top: 70px;
}

/* next target section styles */

.next{
    display: flex;
    flex-direction: column;
}
.nextwrap{
    margin: 0 auto;
}
.ncard{

        width: 1140px;
        height: 219px;
        padding: 40px;
        margin: 50px 0;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        gap: 25px;
 }
.next img {
            width: 144px;
           height: auto;
}



/* footer section styles */

/* form/support sectuon style */
.form{
    margin: 100px 0;
}
.formwrap{
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1140px;
    height: 313px;
    padding: 64px 48px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.formwrap input{
    width: 548px;
    height: 57px;
    border-radius: 16px;
    background-color: var(--white);
}
.formwrap ::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
.formbtn{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* social img */
.socialwrap{
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#social img {
    width: 36px;
    height: 36px;
}
a{
    color: var(--black);
}