:root{
    --black: rgb(13, 19, 33);
    --white:rgb(255, 255, 255);
    --fadebg:rgba(13, 19, 33, 0.02);
    --html:rgba(255, 76, 30, 0.05);
    --css:rgba(0, 76, 232, 0.05);
    --js:rgba(255, 223, 0, 0.05);
}
/* font style guide */
h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.head2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.head2w{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.h5w{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.pw{
    color: var(--white);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

/* buttons */
.btnone{

    width: 220px;
    height: 55px;
    top: 38px;
    padding: 15px 22px;
}
.btntwo{

    width: 195px;
    height: 65px;
    padding: 18px 22px;
    margin: 30px 0px;
}
.btnthree{
       
        width: 165px;
        height: 45px;
        padding: 10px 18px;
        margin: 32px 0px;
}
.btnfour{
        width: 115px;
        height: 55px;
        padding: 15px 18px ;
        margin: 0px 14px;
}